.background {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* 아이콘의 너비를 조정하실 수 있습니다. */
    gap: 10px; /* 아이콘 간격 설정 */
    justify-items: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    // background-color: aquamarine;
  }