.nav{
    position: relative;
    margin-top: 250px;
    margin-left: 25px;

    .navigation{
        border-radius: 15px;
        box-shadow: 2px 2px 2px 2px grey;
        width: 200px;
        height: 65px;
        position: absolute;
        color: black;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        display: flex;
        align-items: center;

        &.active{
            z-index: 2;
        }
        &:not(.active){
            z-index: 1;
        }
        &:hover{
            z-index: 3;
        }
    }
    .nav1{
        top: -60px;
    }
    
}

