.spec{
    width: 75%;
    height: 75%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    // opacity: 0.8;
    
    .row{
        height: 100%;
        width: 100%;
        position: absolute;
        justify-items: center;
        align-items: center;
    }
}